[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "aggutils"]
	path = aggutils
	url = https://github.com/forecastingresearch/aggutils
